*
{
    font-family: "Poppins", sans-serif;
}
body
{
   min-width: 100%;
}
.navbar-brand span
{
    font-size: 20px;
    font-weight: 700;
    color: #0A0A08;
    line-height: 40px;
    margin-left: 1rem;
    cursor: pointer;
}
#myNavbar ul li a
{
    color: #0A0A08 !important;
    font-weight: 600;
    text-decoration: underline;
}

main{
    position: absolute;
    margin-top:75px;
    min-width: 100%;
    background-color: #171717;
    padding: 0 !important;
}
.hero-section
{
    width: 100%;
    height:100%;
    position: relative;
    background-color: white;
}
.hero-image-container
{
    width: 100%;
    height: 60vh;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-text-link-container
{
    margin: 20px;
    text-align: center;
    padding: 2rem;
}
.hero-btn
{
    margin:20px;
}
.hero-btn button
{
    width: 105px;
    height:40px;
    background-color: #171717;
    color: white;
    border-radius: 12px;
    border: none;
    outline: none;
}
.atheletes-container
{
    padding: 1rem;
}
.atheletes-container h1{
    color:#CBFB45;
    height: 60px;
    line-height: 30px;
    font-size: 2.2rem;
    padding:0 1rem;
}
.atheletes-images
{
    padding: 1rem 1rem;
}
.atcard{
    min-width: 300px;
    height: 280px !important;
    margin:0.5rem;
    background-color:transparent !important;
    border-radius: 10px !important;
    overflow: hidden;
}
.atcard img{
    width:100%;
    height:280px !important;
    object-fit: cover !important;
    object-position: top !important;
    
}
.atcard p{
    position: absolute;
    color: white;
    font-size:1.5rem;
    font-weight: 600;
    bottom: 0;
    width: 100%;
    text-align: center !important;
}
.collection-section
{
    margin-top: 20px !important;
    height: 100%;
    padding: 2rem;
    background-color: #171717;
    border-radius: 10px;
}
.collection-section h1{
    color:#CBFB45;
    height: 60px;
    line-height: 30px;
    font-size: 2.2rem;
}
.collection-list
{
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y:hidden;
    height: 100%;
   
}
.collection-list::-webkit-scrollbar
{
    width: 0;
}
.col-card
{
    min-width:320px;
    min-height:500px;
}
.col-card img
{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
   
}
.card-info
{
    text-align: center;
    height: 100%;
    padding: 2rem;
}
.card-info h3{
    height: 38px;
    line-height: 38px;
    font-size: 1.3rem;
    font-weight: 600;
}
.card-info a
{
    height: 56px;
    padding:0.3rem 1.5rem;
    background-color: #F3F5F8;
    margin-top:20px !important;
    cursor: pointer;
    box-shadow: 0px 4px 4px #00000040;
}
.hg-racket-section
{
    margin-top: 20px;
    padding: 2rem;
}
.text-content
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    overflow: hidden;
    margin-left:auto ;
    margin-right: auto;
}
.hg-container .text-content h2
{
    color: #CBFB45;
    font-weight: 600;
    font-size: 4.5rem;
}
.hg-container .text-content p
{
    padding: 1rem 2rem 0 0;
    color:white;
    font-weight: 700;
    font-size: 1.4rem;
}
.text-content .hg-btn
{
    width: 140px;
}
.text-content .hg-btn a
{ 
    background-color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #0A0A08;
    font-size: 0.8rem;
}
.hg-img
{
    width:600px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden !important;
}
.hg-img img
{
    width:600px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.bestseller-section
{
    margin-top: 20px;
    height: 100%;
    padding: 2rem;
}
.bestseller-section h1{
    color:#CBFB45;
    height: 60px;
    line-height: 30px;
    font-size: 2.2rem;
}
.bs-container
{
    margin-top:1rem;
}
.bs-list
{
    overflow-x: auto;
    overflow-y: hidden;
}
.bs-list::-webkit-scrollbar
{
    width: 0;
}
.bs-card
{
    min-width: 300px !important;
    height:420px !important;
    border-radius: 10px;
    overflow: hidden;
}
.bs-card img
{
    min-width: 300px !important;
    min-height: 300px;
    object-fit: contain;
    object-position: top;
}
.bs-card-info
{
    height: 100%;
    padding: 1rem;
}
.bs-card-info h3{
    font-size: 1.2rem;
}
.bs-card-info p{
    color:#636363;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    
    margin-top: 0.5rem;
}
.bs-color-circle
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    vertical-align: middle; 
    margin-left: 5px;
    margin-right: 5px;
}
.hg2-racket-section
{
    margin-top: 20px !important;
    height: 100%;
    background-color: #171717;
    padding: 2rem;
    border-radius: 15px;
}
.hg2-img
{
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.hg2-img img
{
    width:520px;
    height: 560px;
    object-fit: cover;
}
.hg2-text-content
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-left: 2rem;
    overflow: hidden;
}
.hg2-container .hg2-text-content h2
{
    color: #CBFB45;
    font-weight: 600;
    font-size: 4.5rem;
}
.hg2-container .hg2-text-content p
{
    padding: 0.8rem 0;
    color:white;
    font-weight: 700;
    font-size: 1.4rem;
}
.hg2-text-content .hg2-btn
{
    margin-top:0.5rem;
}
.hg2-text-content .hg2-btn a
{ 
    background-color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #0A0A08;
    font-size: 0.8rem;
}
.shop-acc-section
{
    margin-top: 20px !important;
    height: 100%;
    padding: 2rem;
}
.shop-acc-section h1{
    color:#CBFB45;
    height: 60px;
    line-height: 30px;
    font-size: 2.2rem;
}
.sacc-container
{
    height: 100%;
    padding: 0.8rem 0;
    overflow: hidden;
}
.sacc-list
{
    overflow-x: auto;
}
.sacc-list::-webkit-scrollbar
{
    width: 0;
}
.sacc-card
{
    min-width:350px;
    min-height:500px !important;
    background-color: white;
    overflow: hidden;
}
.sacc-card img{
    width: 100%;
    height: 350px !important;
    object-fit: cover;
    object-position: center;
}
.sacc-card-info
{
    text-align: center;
    height: 100%;
    padding: 1rem ;
}
.sacc-card-info h3{
    height: 38px;
    line-height: 38px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.sacc-card-info a{
    height: 56px;
    padding:0.3rem 1.5rem;
    background-color: #F3F5F8;
    margin-top:20px !important;
    box-shadow: 0px 4px 4px #00000040;
    font-weight: 500;
    cursor: pointer;
}