*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.section-1 h1{
    color: #CBFB45;
    font-weight: 800;
}
.section-1 p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}
:is(.section-1 ,.section-5) button{

    border: none;
    color: black;
    background-color: #CBFB45;
    height: 50px;
    width: 80%;
    border-radius: 18px;
    font-size: 110%;
    font-weight: 700;
    text-transform: uppercase;
}


.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}
.section-2 h2{
    color: #CBFB45;
}
.section-3{
    margin-top: 50px;
}
:is(.section-3 h2, .section-4 h2, .section-6 h2,.section-7 h2){
    color: #CBFB45;
    text-align: center;
    text-decoration: underline;
}
.section-4 h5{
 color: #CBFB45;   
}
.section-5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}
.section-5 h2{
    color: #CBFB45;
    font-weight: 800;
}
.module{
    border: 1px solid white;
    padding:  20px 8px 15px 18px;
    border-radius: 17px;
}
.module h3{
    color: #CBFB45;
}
.module p{
    font-size: 15px;
}
.section-7{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-7 hr{
    color: #636363;
    width: 70%;
    border: 5px solid #636363;
    text-align: center;
    border-radius: 20px;
}

.footer-con
{
    background-color: #171717 !important;
    position: relative;
    bottom: 0;
    overflow: hidden;
    padding: 5rem 2rem;
}
.footer-card
{
    background-color: #171717 !important;
    color: white !important;
    height: 100%;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
}
.footer-img-warpper
{
    color: white;
    overflow: hidden;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    flex-wrap: nowrap !important;
}
.footer-img-warpper img{
    height: 70px;
    width: 50px;
    object-fit: contain;
}
.footer-img-warpper a{
    color: white;
    text-decoration: none;
}
.footer-img-warpper span{
    margin: 0 0.2rem;
}
.footer-card ul{
    list-style: none;
    padding: 0;
}
.footer-card ul li{
    text-align: left !important;
    text-wrap: nowrap;
    padding: 0.3rem 0;
    color: #939393;
    cursor: pointer;
    width:100%;
}
.footer-card ul li:hover
{
    color: blue;
}
.footer-card h6{
    text-transform: uppercase;
    font-size: 1rem;
}
.icon-wrapper
{
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-wrap: nowrap;
}
.icon-wrapper i{
    margin-right:1rem;
}
.icon-wrapper i:hover{
    color: blue;
}

@media screen and (max-width:756px) {
    .footer-con
    {
        padding: 3rem 0.5rem;
    }
}