* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.colors {
    display: flex;
}

.colors span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;

}

.c1 {
    background: #A31523;
    border: 2px solid #FFFFFF
}

.c2 {
    background: #995216;
    border: 2px solid #FFFFFF
}

.c3 {
    background: #BBA4C2;
    border: 2px solid #FFFFFF
}

.c4 {
    background: #47DBCD;
    border: 2px solid #FFFFFF
}

.size {
    display: flex;
}

.size span {
    display: inline-block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    border: 1px solid #333;
    margin: 0 5px;
    cursor: pointer;
    background: lightgray;
    border-radius: 50%;
    color: black;
    border: 2px solid #FFFFFF
}

.addcard span {
    display: inline-block;
    background: black;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.addcard .first-1 span {
    padding: 10px 28px;
}

.stars {
    display: flex;
    gap: 5px;
    align-items: center;
}

.stars p {
    color: gray;

}

.stars i {
    color: #FBDE45;
}

.shoe-para {
    text-align: justify;
}

.shoe-btn {
    width: Hug (200px)px;
    height: Hug (68px)px;
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    font-weight: 700;
    background: #CBFB45;
    margin-top: -50px;  
}
.add-to-wish i{
    color:#CBFB45;
}
.shoeFotter{
    display: flex;
    justify-content: space-between;
}
.shoeFotter h6{
    color: #CBFB45;
}
.shoeFotter i,span{
    color:white;
}
.section-3 h3 , .section-5 h3{
    color: #CBFB45;
}
.section-3 p{
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
}
.report{
    font-size: 15px;
}
.reviews{
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 20px;
}
.home-shoe{
    border-radius: 20px;
}
.main-content{
    width: 30%;
    top: 20%;
    left: 5%;
}
.main-content button{
  
    width: 80%;
    height: 50px;
    background: #000;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}
@media (max-width: 988px) {
    .home-shoe{
        height: 100vh;
        object-fit: cover;
    }
    .main-content{
        width: 80%;
        top: 20%;
        left: 10%;
    }
}
.addcard {
    user-select: none;
}

.boxx{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.footer-con
{
    background-color: #171717 !important;
    position: relative;
    bottom: 0;
    overflow: hidden;
    padding: 5rem 2rem;
}
.footer-card
{
    background-color: #171717 !important;
    color: white !important;
    height: 100%;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
}
.footer-img-warpper
{
    color: white;
    overflow: hidden;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    flex-wrap: nowrap !important;
}
.footer-img-warpper  img:nth-child(1){
    width: 60px;
    height: 70px;
    object-position: center;
    object-fit: contain;
}
.footer-img-warpper  img:nth-child(2){
    width: 90px;
    height: 70px;
    margin-top: 5px;
    margin-left: 0.5rem;
    object-position: center;
    object-fit: contain;
}
.footer-img-warpper a{
    color: white;
    text-decoration: none;
}
.footer-img-warpper span{
    margin: 0 0.2rem;
}
.footer-card ul{
    list-style: none;
    padding: 0;
}
.footer-card ul li{
    text-align: left !important;
    text-wrap: nowrap;
    padding: 0.3rem 0;
    color: #939393;
    cursor: pointer;
    width:100%;
}
.footer-card ul li:hover
{
    color: blue;
}
.footer-card h6{
    text-transform: uppercase;
    font-size: 1rem;
}
.icon-wrapper
{
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-wrap: nowrap;
}
.icon-wrapper i{
    margin-right:1rem;
}
.icon-wrapper i:hover{
    color: blue;
}

@media screen and (max-width:756px) {
    .footer-con
    {
        padding: 3rem 0.5rem;
    }
}
/* nav bar style start */
#navbar
{
    background-color: #171717;
}
.navbar-brand
{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    padding:0 1rem;
}
.navbar-brand span
{
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin:0 1rem;
}
.navbar-brand  img:nth-child(1){
    width: 70px;
    height: 70px;
    object-position: center;
    object-fit: contain;
}
.navbar-brand  img:nth-child(2){
    width: 100px;
    height: 70px;
    margin-top: 10px;
    margin-left: 0.5rem;
    object-position: center;
    object-fit: contain;
}
#myNavbar ul li a
{
    color: white !important;
    font-weight: 600;
   
}
.navbar-toggler
{
    padding:0.5rem 1rem !important;
}
.nav-tog-icon span
{
    color: white !important;
}
.dropdown
{
    padding-top:3px ;
}
#dropdownMenuLink
{
    border: none !important;
    padding-left: 0.5rem;
    padding-right:0.5rem;
}
@media screen and (max-width:993px) 
{
    #dropdownMenuLink
    {
        border: none !important;
        padding-left: 0;
    }
    .nav-lbtn
    {
        width: 100px;
    }
}
.dropdown-menu
{
    background-color: #171717!important;
}
.dropdown-menu li .nav-link:hover
{
    transform: translateX(5px);
    transition: .3s ease-in-out;
}
/* nav style end */